html,
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #121212;
  font-family: system-ui, sans-serif;
  font-size: 1.5em;
}

* {
  box-sizing: border-box;
}

main {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 20px;
  pointer-events: none;
  transition: opacity 300ms ease;
}

#root {
  position: relative;
  width: 100vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: repeat(6, 300px);
  grid-gap: 1rem;
  grid-auto-flow: dense;
  pointer-events: none;
}

.grid h4 {
  font-size: 0.6em;
  margin-top: 0;
  margin-bottom: 12px;
}

.grid > div {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
}

.grid > div > div {
  flex: 1;
  height: 0px;
}

.grid img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid > div:nth-child(4n) {
  grid-column: span 2;
  /* Spans two columns */
  grid-row: span 2;
  /* Spans two rows */
}

/* This will create 3x images every 8 elements */

.grid > div:nth-child(8n) {
  grid-column: span 3;
  grid-row: span 3;
}

h1,
h2,
h3,
h4,
p {
  pointer-events: all;
}
